---
import Icon from "astro-icon";
import ContentSection from "~/components/layout/content-section.astro";
---

<ContentSection title="Projekt" id="about">
  <div class="max-w-xl text-justify">
    Eine begehbare Rauminstallation, in der die Konfrontation mit dem
    kollektiven Unterbewussten aller vorherigen Gäste möglich wird. Im Inneren
    einer Kuppel kann dazu einer abstrakten Figur der letzte eigene Traum
    zugeflüstert werden. Alle Inputs fügen sich kontinuierlich zu einem
    Kollektivtraum zusammen, der auf der Innenseite der Kuppel als Projektion
    sichtbar wird.
  </div>
  <div id="expand-text">
    <div class="max-w-xl overflow-hidden">
      Hier ist der zusätzliche Text, der angezeigt wird, wenn der Button
      geklickt wird. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Dolores atque est laudantium, neque numquam eligendi dolorum nobis
      possimus? Quaerat laudantium nulla debitis nobis dolore omnis, ratione
      iste illo ex sed.
    </div>
  </div>
  <button class="flex" id="expand-button">
    <p>show more</p>
    <Icon
      name="mdi:keyboard-arrow-down"
      class="h-8 w-8 transition-transform duration-500 ease-in-out"
      id="arrow"
    />
  </button>
</ContentSection>

<script>
  import invariant from "tiny-invariant";

  const expandButton = document.querySelector("#expand-button");
  const expandedText = document.querySelector("#expand-text");
  const arrow = document.querySelector("#arrow");
  const buttonSpan = document.querySelector("#expand-button p");
  let showMore = false;

  invariant(expandButton, "Could not find expand button");
  invariant(expandedText, "Could not find expanded text");
  invariant(arrow, "Could not find arrow");
  invariant(buttonSpan, "Could not find button span");

  expandButton.addEventListener("click", () => {
    showMore = !showMore;
    buttonSpan.innerHTML = showMore ? "show less" : "show more";
    expandedText.classList.toggle("active");
    arrow.classList.toggle("rotate-180");
  });
</script>

<style>
  #expand-text {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
  }

  #expand-text.active {
    grid-template-rows: 1fr;
  }
</style>
