---
import Icon from "astro-icon";
import ContentSection from "~/components/layout/content-section.astro";
---

<ContentSection title="Project" id="about">
  <div class="max-w-xl text-justify">
    <p>
      <em>'Collective Dreamer'</em> is an interactive installation in which the confrontation
      with the collective subconscious of all participants becomes possible. Inside
      a dome, the last dream can be whispered to an abstract figure. All inputs merge
      into a continuously dreaming subconscious, whose dreams become visible as a
      live projection on the inside of the dome.
    </p>
    <br />
    <p class="gradient">
      With the interactive installation <em>'Collective Dreamer'</em> we want to
      create a meeting place between the participants, their subconscious in the
      form of their dreams and spontaneous visual ideas with the collective unconscious
      patterns of our present - as expressed by AI models.
    </p>
  </div>
  <div id="expand-text">
    <div class="max-w-xl overflow-hidden text-justify">
      <br />
      <p>
        According to C. G. Jung, the collective unconscious is that
        <em>
          'part of the psyche which can be negatively distinguished from a
          personal unconscious by the fact that it does not owe its existence to
          personal experience and is therefore not a personal acquisition'
        </em> and thus that which we all share with each other without having appropriated
        it ourselves through our own life experiences.
      </p>
      <br />
      <p>
        Something similar has been written down in the AI models of our time:
        probability distributions extracted from the collected data of the
        Internet (and the hundreds of years of literature, art, human
        communications, etc. now integrated into it) show us the patterns that
        we as humanity have collectively, consciously as well as unconsciously
        left behind and created in our written and pictorial expressions, and
        which we also follow through the influence of these media on our lives.
        In many cases, patterns can also be discerned from these utterances that
        could actually be attributed to Jung's collective unconscious.
      </p>
      <br />
      <p>
        And as in a dream, the place where humans are most likely to encounter
        the collective unconscious pictorially, they become visible again
        through image generation and its idiosyncrasies.
      </p>
      <br />
      <p>
        How we see ourselves? As individuals, we don't see ourselves as artists,
        even though two of us study film at film school and are therefore
        actually at an art school. As a collective, however, we make art. We are
        particularly interested in interactive/communicative approaches with
        reference to storytelling. With our installation
        <em>'Collective Dreamer'</em> we also want to make the phenomenon of AI as
        intensively experienceable as possible in an interactive and communicative
        way, and in doing so we fall back on typical communication rituals such as
        the cave and campfire situation or the telling of one's own dreams.
      </p>
      <br />
      <p>
        With regard to the current project, we are primarily interested in
        bringing our Dreamer into contact with various places and people and
        making these snapshots accessible, as in a Time or Place Capsule. How
        did the Dreamer's dreams evolve in Warsaw, how in Munich, how will they
        be in other places? Every city, every day probably has its own
        fingerprint, which we would like to make tangible.
      </p>
    </div>
  </div>
  <button class="flex py-4" id="expand-button">
    <p>show more</p>
    <Icon
      name="mdi:keyboard-arrow-down"
      class="h-8 w-8 transition-transform duration-500 ease-in-out"
      id="arrow"
    />
  </button>
</ContentSection>

<script>
  import invariant from "tiny-invariant";

  const expandButton = document.querySelector("#expand-button");
  const expandedText = document.querySelector("#expand-text");
  const arrow = document.querySelector("#arrow");
  const buttonSpan = document.querySelector("#expand-button p");
  const gradient = document.querySelector(".gradient");
  let showMore = false;

  invariant(expandButton, "Could not find expand button");
  invariant(expandedText, "Could not find expanded text");
  invariant(arrow, "Could not find arrow");
  invariant(buttonSpan, "Could not find button span");
  invariant(gradient, "Could not find gradient");

  expandButton.addEventListener("click", () => {
    showMore = !showMore;
    buttonSpan.innerHTML = showMore ? "show more" : "show less";
    expandedText.classList.toggle("active");
    arrow.classList.toggle("rotate-180");
    gradient.classList.toggle("gradient");
  });
</script>

<style>
  #expand-text {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-in-out;
  }

  #expand-text.active {
    grid-template-rows: 1fr;
  }

  .gradient {
    background: var(--color-text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
