---
import Icon from "astro-icon";
import ContentSection from "~/components/layout/content-section.astro";
---

<ContentSection title="Exhibition" id="exhibition">
  <div
    class="flex w-full max-w-xl flex-col justify-between gap-4 py-4 md:flex-row"
  >
    <p class="text-center md:text-left">
      4.11. - 17.12.2023<br />
      Thur, Fri & Sat<br />
      16:30 - 20:00
    </p>
    <a
      href="https://maps.app.goo.gl/dfuMdVUkTwEPSLUdA"
      class="text-center md:text-right"
    >
      a&o Hostel Warszawa Wola<br />
      Marcina Kasprzaka 18/20<br />
      01-211 Warszawa
    </a>
  </div>
  <!-- <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2443.76968472388!2d20.970640977745564!3d52.22940207198652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc9df4f29e87%3A0x4eaf9e0f305fc403!2sa%26o%20Hostel%20Warszawa%20Wola!5e0!3m2!1sde!2spl!4v1700559150267!5m2!1sde!2spl"
    width="400"
    height="400"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade" /> -->
</ContentSection>
