---
import Icon from "astro-icon";
import ContentSection from "~/components/layout/content-section.astro";
---

<ContentSection title="Exhibition" id="exhibition">
  <div
    class="flex w-full max-w-xl flex-col justify-between gap-4 py-4 md:flex-row"
  >
    <p class="text-center md:text-left">
      4.11. - 17.12.2023<br />
      Thur, Fri & Sat<br />
      16:30 - 20:00
    </p>
    <a
      href="https://maps.app.goo.gl/dfuMdVUkTwEPSLUdA"
      class="text-center md:text-right"
    >
      a&o Hostel Warszawa Wola<br />
      Marcina Kasprzaka 18/20<br />
      01-211 Warszawa
    </a>
  </div>
</ContentSection>
