---
import Icon from "astro-icon";
---

<div class="flex justify-around">
  <div class="flex w-full max-w-3xl flex-row justify-between">
    <a
      href="https://www.filmfest-muenchen.de/de/programm/rahmenprogramm/event/?id=7309&f=116"
      target="_blank"
      rel="noopener noreferrer"
    >
      <Icon name="filmfest" class="w-full fill-current" />
    </a>

    <a href="https://kunstareal.de/" target="_blank" rel="noopener noreferrer">
      <Icon name="kunstareal" class="w-full fill-current" />
    </a>
  </div>
</div>
