---
import ContentSection from "~/components/layout/content-section.astro";
---

<ContentSection title="Team" id="team">
  <div class="max-w-xl">Eduard, Luis, Ronny und Moritz</div>
</ContentSection>
